html {
    scroll-behavior: smooth;
}

body {
    font-family: $openSans;
}

.main {
    max-width: 1920px;
    margin: 0 auto;
}

.mt-10 {
    margin-top: 10rem;
}

.bg {
    &--black {
        background-color: black;
    }
    &--gray {
        background-color: $color-primaryLight;
    }
}

.z-index {
    &-5 {
        z-index: 5;
    }
}

.page-enter-active,
.page-leave-active {
    transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
    opacity: 0;
}

.nav-slider {
    display: flex;
    justify-content: flex-end;
    .arrow {
        width: 3rem;
        height: 3rem;
        color: white;
        text-align: center;
        border-radius: 0;
        border: none;
        &--left {
            background-color: $color-primary;
        }
        &--right {
            background-color: $color-neutral;
        }
    }
}

.bounce-enter-active {
    animation: bounce-in 0.8s;
}
.bounce-leave-active {
    animation: bounce-out 0.5s;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes bounce-out {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(0);
    }
}