@font-face {
    font-family: 'Calibre';
    src: url('assets/fonts/Calibre-Regular.eot');
    src: url('assets/fonts/Calibre-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Calibre-Regular.woff2') format('woff2'),
        url('assets/fonts/Calibre-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('assets/fonts/Calibre-Light.eot');
    src: url('assets/fonts/Calibre-Light.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Calibre-Light.woff2') format('woff2'),
        url('assets/fonts/Calibre-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('assets/fonts/Calibre-Bold.eot');
    src: url('assets/fonts/Calibre-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Calibre-Bold.woff2') format('woff2'),
        url('assets/fonts/Calibre-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('assets/fonts/Calibre-Semibold.eot');
    src:url('assets/fonts/Calibre-Semibold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Calibre-Semibold.woff2') format('woff2'),
        url('assets/fonts/Calibre-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

$calibre: 'Calibre', sans-serif;
$openSans: 'Open Sans', sans-serif;