@mixin triangle($size, $color){
    width: 0;
    height: 0;
    border-bottom: $size solid $color;
    border-left: $size solid transparent;
}

@mixin responsive-sm {
    @media (min-width: 359px) { @content; }
}

@mixin responsive-sm-l {
    @media (min-width: 424px) { @content; }
}

@mixin responsive-md-x {
    @media (min-width: 576px) { @content; }
}

@mixin responsive-md {
    @media (min-width: 768px) { @content; }
}

@mixin responsive-lg {
    @media (min-width: 1023px) { @content; }
}

@mixin responsive-xl {
    @media (min-width: 1200px) { @content; }
}

@mixin responsive-xxl {
    @media (min-width: 1600px) { @content; }
}