@media (min-width: 359px) {
    .layout {
        &__about{
            .container--shapes {
                max-height: 533px;    
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 424px) {
    .layout {
        &__about{
            .container--shapes {
                max-height: 620px;
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .layout {
        &__home {
            .title {
                font-size: 10vw;
                line-height: 7vw;
            }
        }
        &__about{
            .container--shapes {
                height: 100vh;
                max-height: 981px;
            }
            #R {
                top: 11%;
            }
            #D {
                top: 42%;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 1023px) {
    .layout {
        &__home {
            .title {
                font-size: 9vw;
                line-height: 6vw;
            }
        }
        &__about{
            .letter{
                position: absolute;
            }
            .container--shapes{
                position: absolute;
                top: 0;
                max-height: unset;
                min-height: 1366px;
            }
            #R{
                top: -5%;
                right: -5%;
            }
            #B{
                top: 52%;
                left: -20%;
            }

        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .nav-container{
        .mt-lg-menu{
            margin-top: 9rem !important;
        }
    }
    header.site-header {
        width: 100%;
        display: block;
        max-width: 1920px;
        &.scrolled {
            display: flex;
            
            .brand {
                padding-left: 0rem;
            }
            .btn-container {
                margin-top: 0rem;
                .btn-menu {
                    margin-left: 2rem;
                }
            }
        }
        .brand {
            padding-left: 2rem;
            a {
                text-align: left;
            }
        }
        .btn-container {
            margin-top: 5rem;
            .btn-menu {
                margin-left: 2rem;
            }
        }
    }
    .layout {
        &__home {
            .title {
                font-weight: 600;
                font-size: 5vw;
                line-height: 4vw;
            }
            .shapes {
                position: absolute;
                top: 0;
                overflow-y: hidden;
                .container_shapes{
                    max-width: 880px;
                }
                #R {
                    top: 15%;
                }
                #D {
                    top: 51%;
                }
            }
        }
        &__about{
            .container--shapes{
                height: 100vw;
                max-height: 1920px;
            }
            #D{
                top: 57%;
            }
            
        }
    }
}
