h1,
h2,
h3,
h4,
h5 {
  font-family: $calibre;
}

.tx {
  &-xs {
    font-size: 0.7rem;
  }
  &-ss {
    font-size: 0.85rem;
  }
  &-s {
    font-size: 0.9rem;
  }
  &-sx {
    font-size: 1rem;
  }
  &-sm {
    font-size: 1.1rem;
  }
  &-md {
    font-size: 1.3rem;
  }
  &-bg {
    font-size: 1.6rem;
  }
  &-lg {
    font-size: 1.8rem;
  }
  &-xl {
    font-size: 2rem;
  }
  &-xxl {
    font-size: 2.2rem;
  }
}

.tx-wh {
  &-3 {
    font-weight: 300;
  }
  &-4 {
    font-weight: 400;
  }
  &-5 {
    font-weight: 500;
  }
  &-6 {
    font-weight: 600;
  }
  &-7 {
    font-weight: 700;
  }
}

.tx-calibre{
  font-family: $calibre;
}

.no-link{
  text-decoration: none;
}

.tx-shadow{
  &-1{
    text-shadow: 1px 1px 2px black;
  }
}

.tx-c{
  &-primary{
    color: $color-primary;
  }
  &-tertiary{
    color: $color-neutralWhite;
  }
}

.tx-difference{
  &-white{
    mix-blend-mode: difference;
    color: white;
  }
}