$color-primary: #333333;
$color-primaryLight: #1E1E1E;

$color-secondary: #D4CBC0;
$color-tertiary: #ECECEC;

$color-neutral: #4A4A4A;
$color-neutralLight: #ACA4A0;
$color-neutralWhite: #a9a9a9;

$color-border: #B9BBB8;
