<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="font-awesome" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap">
  </head>
  <body>
    <noscript>
      <p>Embracing a career dedicated to design, creative direction and art direction, Richard Blackman is foremost, a storyteller. Delving into a brief to uncover the essence of the reasons for, the desires of and the unique story to tell, is RBD’s passion and motivation. Crafting and articulating a visual narrative that resonates with a client, delivers the holistic response they hoped for, within a bespoke expression is the single driving objective. It is a truly fulfilling experience. Every brief provides the background to the stories people seek to tell. About themselves, their homes, their businesses, brands and workplaces. Revealing how they want to connect to and inhabit their spaces.
        Revealing how they will be perceived and most importantly how they want to connect to and inhabit their spaces.</p>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
