.layout__about {
    .container--shapes {
        position: relative;
        height: 80vh;
        width: 100%;
        pointer-events: none;
    }
    .letter {
        position: absolute;
        width: 48%;
    }
    #R {
        top: 10%;
    }
    #B {
        top: 0;
        right: 0;
    }
    #D {
        top: 36%;
        right: 15%;
    }
    .letter__img {
        max-width: 100%;
        mask-size: contain;
        mask-repeat: no-repeat;
    }
    .team {
        .member {
            &__picture {
                width: 100%;
                position: relative;
                &::before {
                    display: block;
                    width: 100%;
                    padding-bottom: 120%;
                    content: "";
                }
                img {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &__desc {
                .indicator {
                    background-color: black;
                    height: 100%;
                    padding-bottom: 40%;
                    position: relative;
                    .number {
                        width: 100%;
                        margin-top: -4rem;
                        background-color: black;
                        color: $color-neutral;
                        display: block;
                        padding: 1.5rem;
                        padding-bottom: 2.5rem;
                    }
                    .angle {
                        display: block;
                        @include triangle(1.5rem, white);
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }
                }
                .info {
                    .line {
                        display: block;
                        height: 2px;
                        width: 3rem;
                        border-bottom: 2px solid black;
                    }
                }
            }
        }
    }
    .testimonials {
        position: relative;
        .testimonials1 {
            background-color: white;
        }
        &__photo {
            width: 100%;
            margin: 0 auto;
            @include responsive-xl {
                padding: 0 3rem;
            }
        }
        &__copy {
            z-index: 10;
            position: relative;
            @include responsive-xl {
                margin-top: -8rem;
            }
            .block {
                width: 100%;
                margin: 0 auto;
                position: relative;
                display: block;
                height: 100%;
                @include responsive-xl {
                    width: 70%;
                    background-color: red;
                }
                &__content {
                    width: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    position: relative;
                    @include responsive-xl {
                        float: right;
                    }
                    .space {
                        width: 0%;
                        @include responsive-xl {
                            width: 40%;
                        }
                    }
                    .copy {
                        width: 100%;
                        @include responsive-xl {
                            width: 60%;
                        }
                    }
                }
            }
        }
        .nav-testimonials {
            margin-top: -3rem;
            display: flex;
            justify-content: flex-end;
            @include responsive-xl {
                width: calc(63% - 0.8rem);
                margin-right: auto;
                margin-left: auto;
                margin-top: -12rem;
            }
            .arrow {
                width: 3rem;
                height: 3rem;
                color: white;
                text-align: center;
                border-radius: 0;
                border: none;
                &--left {
                    background-color: $color-primary;
                }
                &--right {
                    background-color: $color-neutral;
                }
            }
        }
    }
    .black-space{
        width: 100%;
        height: 50vh;
        @include responsive-xl{
            height: 70vw;
        }
        @include responsive-xxl {
            height: 80vw;
        }
    }
}

.vueperslides {
    &.testimonials1 {
        padding: 0;
        @include responsive-xl {
            padding: 0 15vw;
            .vueperslides__parallax-wrapper,
            .vueperslides__track {
                overflow: visible;
            }
        }
    }
}
