.layout__contact {
    min-height: 85vh;
    #D {
        position: absolute;
        width: 150%;
        bottom: -25%;
        left: -25%;
        @include responsive-md-x {
            width: 100%;
            left: auto;
            right: 0;
        }
        @include responsive-md {
            bottom: -40%;
            right: -40%;
        }
        @include responsive-lg {
            bottom: -80%;
            right: -50%;
        }
        @include responsive-xl{
            width: 70%;
            bottom: -65%;
            right: -10%;
        }
    }
    .letter__img {
        max-width: 100%;
        mask-size: contain;
        mask-repeat: no-repeat;
    }
    .contact-form {
        form {
            .form-group {
                position: relative;
                .line-top {
                    position: absolute;
                    top: 0rem;
                    width: 3rem;
                    height: 1px;
                    border-top: 1px solid $color-border;
                    display: block;
                }
                .line-angle {
                    position: absolute;
                    display: block;
                    border-bottom: 1px solid $color-border;
                    transform: translateY(0rem) translateX(0) rotate(-45deg);
                    width: 2rem;
                    height: 1px;
                    bottom: 35px;
                    right: -27px;
                }
                label {
                    position: absolute;
                    top: -0.8rem;
                    left: 3.5rem;
                }
                .form-control {
                    border: none;
                    border-radius: 0;
                    background-color: transparent;
                    border-bottom: 1px solid $color-border;
                    border-left: 1px solid $color-border;
                    padding-top: 1.5rem;
                    padding-bottom: 1.8rem;
                }
            }
            .btn {
                background-color: black;
                border-radius: 0;
                text-transform: uppercase;
                padding: 0.6rem 3rem;
                border: 0;
                clip-path: polygon(100% 0, 100% 70%, 90% 100%, 0 100%, 0 0);
                transition: all 0.5s ease-in-out;
                &:hover {
                    background-color: $color-primaryLight;
                }
            }
        }
    }
}
