.site-footer{
    .nav-list{
        list-style: none;
        justify-content: center;
        margin: 0;
        padding-left: 0;
        .nav-item{
            a{
                color: white;
                display: block;
                padding: 0 1.5rem;
                font-size: 1.2rem;
                font-weight: 300;
            }
            span{
                display: none;
            }
        }
    }
}