.layout-white{
    header.site-header{
        .brand{
            svg{
                path{
                    @include responsive-lg{
                        fill: white;
                    }
                    @include responsive-xl{
                        fill: black;
                    }
                }
            }
        }
        &.scrolled{
            .brand{
                svg{
                    path{
                        @include responsive-lg{
                            fill: black;
                        }
                    }
                }
            }
            .hamburger{
                .hamburger-inner{
                    @include responsive-xl{
                        background-color: black;
                    }
                    &::before, &::after{
                        @include responsive-xl{
                            background-color: black;
                        }
                    }
                }
            }
        }
        .hamburger{
            .hamburger-inner{
                @include responsive-xl{
                    background-color: white;
                    box-shadow: 1px 1px 1px black;
                }
                &::before, &::after{
                    @include responsive-xl{
                        background-color: white;
                        box-shadow: 1px 1px 1px black;
                    }
                }
            }
        }
    }
}

header.site-header {
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100%;
    align-items: center;
    justify-content: center;
    animation: all 0.5s ease-in-out;
    background-color: rgba(255, 255, 255, 0.5);
    @include responsive-lg{
        background-color: unset;
    }
    .brand {
        order: 2;
        padding-top: 1rem;
        padding-bottom: 1rem;
        animation: all 0.5s ease-in-out;
        a {
            display: block;
            text-align: center;
        }
    }
    .btn-container {
        order: 1;
        animation: all 0.5s ease-in-out;
        margin-right: auto;
        margin-left: 1rem;
        .btn-menu {
            width: 3rem;
            font-size: 2.5rem;
            margin: 0 auto;
        }
    }
    .space{
        margin-right: auto;
        order: 3;
        width: 3rem;
    }
    &.scrolled {
        background-color: rgba(255, 255, 255, 0.9);
        .hamburger{
            &.white-icon{
                @include responsive-lg{
                    .hamburger-inner{
                        background-color: black;
                        &::before, &::after{
                            background-color: black;
                        }
                    }
                }
            }
        }
        .logoWhite{
            svg{
                path{
                    fill: black;
                }
            }
        }
        &.menuOpen{
            background-color: $color-secondary;
            animation: all 0.5s ease-in-out;
        }
    }
    .logoWhite{
        svg{
            path{
                @include responsive-lg{
                    fill: white;
                }
            }
        }
    }
}
