.layout__home {
    position: relative;
    .title {
        font-weight: 600;
        font-size: 12vw;
        line-height: 8vw;
    }
    .shapes {
        position: relative;
        right: 0;
        height: auto;
        @include responsive-lg {
            //height: 80vh;
        }
        overflow-y: hidden;
        .container_shapes {
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            .stack{
                max-width: 100%;
            }
            .letter {
                width: 48%;
                position: absolute;
                height: 532px;
                &__img {
                    max-width: 100%;
                    mask-size: contain;
                    mask-repeat: no-repeat;
                }
            }
        }
        #R {
            top: 13%;
        }
        #B {
            top: 0%;
            right: 0%;
        }
        #D {
            top: 40%;
            right: 15%;
        }
    }
    .mt-10{
        margin-top: 5rem;
        @include responsive-md {
            margin-top: 8rem;
        }
        @include responsive-xl {
            margin-top: 10rem;
        }
    }
}
