.nav {
    &-container {
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        .menu-container {
            width: 100%;
            height: 100vh;
            position: fixed;
            background-color: $color-secondary;
            left: 0;
            z-index: 50;
            .container-fluid{
              max-width: 1920px;
            }
        }
        .nav-list {
            list-style: none;
            padding-left: 0;
          }
          .nav-list .nav-item {
            padding-bottom: 1rem;
            position: relative;
          }
          
          .nav-list .nav-item .number {
            position: absolute;
            top: -0.8rem;
            left: 2rem;
          }
          
          .nav-list .nav-item .line-horizontal {
            position: absolute;
            display: block;
            width: 1.5rem;
            height: 2px;
            border-top: 1px solid black;
            top: 0;
            left: 0;
          }
          
          .nav-list .nav-item .line-angle {
            width: 2.9rem;
            height: 0rem;
            border-bottom: 1px solid black;
            transform: translateY(0rem) translateX(0) rotate(-45deg);
            position: absolute;
            bottom: 2rem;
            right: -0.5rem;
            z-index: 5;
          }
          .nav-list .nav-item .angle {
            display: block;
            width: 0;
            height: 0;
            border-bottom: 2rem solid#D4CBC0;
            border-left: 2rem solid transparent;
            position: absolute;
            right: 0;
            bottom: 1rem;
          }
          
          .nav-list .nav-item a {
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            display: block;
            padding: 0.8rem;
            color: black;
          }
    }
}
