.layout__projects {
    #D {
        position: absolute;
        width: 150%;
        left: -50%;
        @include responsive-sm {
            top: -2%;
        }
        @include responsive-md {
            top: -6%;
        }
        @include responsive-xl {
            width: 80%;
            top: -4%;
            left: -2%;
        }
    }
    .letter__img {
        max-width: 100%;
        mask-size: contain;
        mask-repeat: no-repeat;
    }
    .project-item {
        &--0 {
            h3 {
                @include responsive-md {
                    mix-blend-mode: difference;
                    color: white;
                }
                @include responsive-lg {
                    color: white;
                }
            }
        }
        .featured-img {
            width: 100%;
            position: relative;
            img {
                max-width: 100%;
            }
        }
        .copy {
            width: 90%;
            margin: 0 auto;
            .cta {
                color: $color-neutralLight;
                transition: all 0.6s ease-in-out;
                opacity: 1;
                b-icon {
                    font-size: 1.1rem;
                }
            }
            @include responsive-xl {
                width: 60%;
                .cta {
                    opacity: 0;
                }
            }
        }
        .featured-img {
            width: 90%;
            margin: 0 auto;
            transition: all 0.6s ease-in-out;
            &::before {
                display: block;
                width: 100%;
                padding-bottom: 120%;
                content: "";
            }
            img {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            @include responsive-xl {
                width: 60%;
            }
        }
        .left {
            img {
                transition: all 0.3s ease-in-out;
                clip-path: polygon(35% 0, 100% 0, 100% 100%, 70% 100%, 50% 100%, 0 100%, 0 30%);
            }
        }
        .right {
            img {
                transition: all 0.3s ease-in-out;
                clip-path: polygon(0 0, 100% 0, 100% 70%, 65% 100%, 65% 100%, 0 100%, 0 100%);
            }
        }
        &.featureleft {
            .right {
                display: none;
            }
            @include responsive-lg {
                .right {
                    display: block;
                }
            }
        }
        &.featureright {
            .left {
                display: none;
            }
            @include responsive-lg {
                .left {
                    display: block;
                }
            }
        }
        &:hover,
        &:active {
            &.featureleft {
                .left {
                    img {
                        @include responsive-xl {
                            width: 95%;
                        }

                        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 65% 100%, 50% 90%, 35% 100%, 0 100%);
                    }
                }
                .right {
                    .featured-img {
                        width: 100%;
                    }
                    img {
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 100%, 50% 100%, 25% 100%, 0 75%);
                    }
                }
                .cta {
                    opacity: 1;
                }
            }
            &.featureright {
                .left {
                    .featured-img {
                        width: 100%;
                    }
                    img {
                        clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 100%, 50% 100%, 25% 100%, 0 100%);
                    }
                }
                .right {
                    img {
                        @include responsive-xl {
                            width: 95%;
                        }
                        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 65% 100%, 50% 90%, 35% 100%, 0 100%);
                    }
                }
                .cta {
                    opacity: 1;
                }
            }
        }
    }
    &--single {
        h1{
            font-size: 3rem;
            font-weight: 400;
        }
        #D {
            @include responsive-sm {
                left: -37%;
                top: -3%;
                width: 137%;
            }
            @include responsive-md {
                top: -3%;
                width: 115%;
                left: -26%;
            }
            @include responsive-lg {
                top: -10%;
                width: 100%;
                left: -14%;
            }
            @include responsive-xl {
                top: -10%;
                width: 65%;
            }
            .letter__img {
                filter: brightness(40%);
            }
        }
        .line-white {
            display: block;
            width: 3rem;
            height: 2px;
            border-top: 2px solid white;
            padding-bottom: 1rem;
        }
        .img-slider-container {
            width: 100%;
            background-color: $color-tertiary;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            img {
                max-width: 100%;
                max-height: 100vw;
                margin: 0 auto;
            }
        }
        #carousel-1 {
            .carousel-inner{
               display: flex;
               align-items: center;
               min-height: 60vh;
               transition: 0.3s all ease-in-out;
               @include responsive-md {
                min-height: 50vh;
            }
                @include responsive-lg {
                    min-height: 90vh;
                }
            }
            .carousel-item.active,
            .carousel-item-next,
            .carousel-item-prev {
                display: flex;
                justify-content: center;
                transition: all 0.3s ease-in-out;
                .img-gallery {
                    display: block;
                    margin: 0 auto;
                    max-height: 60vh;
                    max-width: 100%;
                    object-fit: contain;
                    @include responsive-lg {
                        max-height: 90vh;
                    }
                }
            }
        }
        .one-col {
            .crop-img {
                width: 100%;
                margin: 0 auto;
                position: relative;
                &::before {
                    display: block;
                    width: 100%;
                    padding-bottom: 70%;
                    content: "";
                    transition: all 0.6s ease-in-out;
                }
                img {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    clip-path: polygon(100% 0, 100% 85%, 80% 85%, 65% 100%, 0 100%, 0 0);
                }
            }
        }
        .two-col {
            .crop-img {
                width: 100%;
                margin: 0 auto;
                transition: all 0.6s ease-in-out;
                &::before {
                    display: block;
                    width: 100%;
                    padding-bottom: 140%;
                    content: "";
                }
                img {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                &--left {
                    clip-path: polygon(35% 0, 100% 0, 100% 100%, 70% 100%, 50% 100%, 0 100%, 0 30%);
                }
                &--right {
                    clip-path: polygon(0 0, 100% 0, 100% 70%, 65% 100%, 65% 100%, 0 100%, 0 100%);
                }
            }
        }
    }
}
