.layout__services {
    .grid-services {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        grid-template-rows: repeat(6, minmax(80vh, 1fr));
        grid-gap: 2rem;
        @include responsive-md {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, minmax(50vh, 1fr));
        }
        @include responsive-lg {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 32vw);
        }
        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__item {
            position: relative;
            .title {
                color: white;
                position: absolute;
                bottom: 1rem;
                left: 1rem;
                opacity: 0;
                transition: all 0.3s ease-in-out;
                text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.4);
                @include responsive-lg {
                    left: 2rem;
                    bottom: 1.5rem;
                }
            }
            .parent-decription {
                position: absolute;
                bottom: 1.5rem;
                left: 1rem;
                transition: all 0.3s ease-in-out;
                .square, .description-container {
                    transition: all 0.3s ease-in-out;
                }
                .square {
                    display: block;
                    width: 1rem;
                    height: 1rem;
                    position: absolute;
                    top: -0.5rem;
                    left: -0.5rem;
                    z-index: 10;
                    background-color: $color-border;
                    @include responsive-lg {
                        width: 2rem;
                        height: 2rem;
                        top: -1rem;
                        left: -1rem;
                    }
                }
                .description-container {
                    max-width: 95%;
                    position: relative;
                    padding: 0.8rem;
                    background-color: white;
                    @include responsive-lg {
                        max-width: 25vw;
                        padding: 1.5rem;
                        clip-path: polygon(0% 0%, 100% 0, 100% 80%, 90% 100%, 0% 100%);
                    }
                }
            }
            
            @include responsive-lg {
                .title{
                    opacity: 1;
                }
                .parent-decription{
                    bottom: -5rem;
                    left: 2rem;
                    .square, .description-container {
                        opacity: 0;
                    }
                }
                &:hover, &:active {
                    .title {
                        opacity: 0;
                        bottom: -5rem;
                    }
                    .parent-decription {
                        bottom: 1.5rem;
                        .square {
                            background-color: $color-border;
                            opacity: 1;
                        }
                        .description-container {
                            background-color: white;
                            opacity: 1;
                        }
                        h3 {
                            color: $color-primary;
                        }
                    }
                }
                &--1 {
                    grid-column: 1 / span 2;
                    grid-row: 1 / span 1;
                }
                &--2 {
                    grid-column: 3 / span 1;
                    grid-row: 1 / span 1;
                }
                &--3 {
                    grid-column: 1 / span 1;
                    grid-row: 2 / span 2;
                }
                &--4 {
                    grid-column: 2 / span 1;
                    grid-row: 2 / span 1;
                }
                &--5 {
                    grid-column: 3 / span 1;
                    grid-row: 2 / span 1;
                }
                &--6 {
                    grid-column: 2 / span 2;
                    grid-row: 3 / span 1;
                }
            }
        }
    }
    #B {
        top: 0%;
        position: absolute;
        left: -51%;
        width: 150%;
        @include responsive-lg {
            width: 80%;
            left: 0%;
            top: -5%;
        }
        @include responsive-xl {
            top: -5%;
            left: -5%;
        }
    }
    .letter {
        &__img {
            max-width: 100%;
            mask-size: contain;
            mask-repeat: no-repeat;
        }
    }
}
